{% extends "base.html" %}

{% block head %}
    <title>
        {% if creating %}Создание{% else %}Редактирование{% endif %} подвижного объекта </title>
{% endblock%}

{% block menu %}
    <a href="/admin/movables/">Список подвижных объектов</a>
{% endblock%}


{% block body %}

{% if message %}
    <div class="message">{{ message }} </div>
{% endif %}

<p>Пожалуйста, введите данные для объекта:</p>

    <form action="" method="post">
    <table class="edit" cellpadding="1">
        <tr>
            <td><label for="id_name">Имя:</label></td>
            <td>{{ form.name }} </td><td>{{ form.name.errors }}</td>
        </tr>
        <tr>
            <td><label for="id_movable_type">Тип:</label></td>
        <td>
            <select name="movable_type" id="id_movable_type">
                {% for type in types %}
                    <option value="{{ type.id }}" {% if movable_type_id == type.id %}selected="selected"{% endif %}>
                        {{type.name}}
                    </option>
                {% endfor %}
            </select>
        </td>
        </tr>
    </table>

    <input class="bigbutton" type="submit" value="Сохранить объект">
</form>

{% endblock %}

