{% extends "base.html" %}

{% block head %}
    <title>Панель администрирования</title>
{% endblock%}

{% block body %}

<div>
    <h2>Выберите:</h2>
    <ul>
        <li><a href="immobiles/">Редактировать неподвижные объекты</a></li>
        <li><a href="movables/">Редактировать подвижные объекты</a></li>
        <li><a href="movable_types/">Редактировать типы подвижных объектов</a></li>
        <li><a href="upload_points/">Залить файл с точками для подвижных объектов</a></li>
    </ul>
</div>

{% endblock %}

