{% extends "base.html" %}

{% block head %}
    <title>Редактирование типов подвижных объектов</title>
{% endblock%}

{% block body %}

{% if message %}
    <div class="message">{{ message }} </div>
{% endif %}

<p>
    <a href="add/">Добавить тип</a>
</p>

<table class="list" width="100%" border="1" cellpadding="4" cellspacing="0">
<tr>
    <td>id</td><td>Название</td><td>Управление</td>
</tr>
{% for object in objects %}
    <tr>
    <td>{{ object.id }}</td>
    <td>{{ object.name }}</td>
    <td><a style="color: blue"href="edit/{{ object.id }}/">Изменить</a>
        <a style="color: red" href="del/{{ object.id }}/">Удалить</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}

