<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
        <link href="/site-media/css/base.css" rel="stylesheet" />
        <script type="text/javascript" src="/site-media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
        {% block head %}{% endblock %}       
    </head>

    <body>
        <div class="menu">
            <a href="/">На главную</a>
            <a href="/admin/">Панель администрирования</a>
            {% block menu %}{% endblock %}
            <a class="small" href="/test/ajaxtest/">Ajax test webpage</a>
            <a class="small" href="/test/mapsapi/">Yandex Maps API test webpage</a>
            <a class="small" href="/test/immobiles/">Показать Immobile objects на карте</a>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
